@import url( 'https://fonts.googleapis.com/css?family=Allan');

.retro-title {
    border-top: 1px solid white;
    padding-top: 10px;
    color: white;
    text-decoration: none;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
}

.numberCircle {
    border-radius: 50%;
    width: 60px;
    font-size: 22px;
    background-color: RGBA(15, 103, 186, 1.00);
    line-height: 40px;
    margin-right: .2rem;
}

.numberCircle.yellow {
    width: 40px;
    background-color: RGBA(249, 223, 1, 1.00);
    color: #222;
}

.numberCircle.blue {
    width: 40px;
    font-size: 22px;
    background-color: RGBA(15, 103, 186, 1.00);
    line-height: 40px;
}

.numberCircle span {
    text-align: center;
    display: block;
}
